/*
	CSS que engloba todas as páginas
*/

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}

/* --- outros --- */
	:root{
		--new-blue:#35C2E0;
		--new-red:#ED1450;
		--new-gray:#2E2E2D;
		--new-gray-dark:#707070;
		--new-yellow:#FED54D;
	}

	body{
		font-family: "Poppins-Regular";
	}
	a:hover{
		text-decoration: none;
	}

	.font-regular{
		font-family: "Poppins-Regular";
	}
	.font-bold{
		font-family: "Poppins-Bold";
	}

	.bg-blue{
		background-color: var(--new-blue);
	}
	.bg-red{
		background-color: var(--new-red);
	}
	.bg-yellow{
		background-color: var(--new-yellow);
	}
	.text-blue{
		color: var(--new-blue);
	}
	.text-red{
		color: var(--new-red);
	}
	.text-gray{
		color: var(--new-gray);
		opacity: .6;
	}	
	.container{
		max-width: 1080px!important;
	}
	.btn-red{
		border: 1px solid var(--new-red);
		background-color: var(--new-red);
		color: white;
		border-radius: 50px;
		box-shadow: 0 .8rem 2.5rem rgba(0,0,0,.500);
		transition: .3s;
	}
	.btn-red:hover{
		background-color: transparent;
		color: var(--new-red);
		transition: .3s;
	}

	.btn-blue{
		border: 1px solid var(--new-blue);
		background-color: var(--new-blue);
		color: white!important;
		border-radius: 50px;
		box-shadow: 0 .8rem 2.5rem rgba(0,0,0,.500);
		transition: .3s;
	}
	.btn-blue:hover{
		background-color: transparent;
		color: var(--new-blue)!important;
		transition: .3s;
	}

	#item-fixo{
		position: fixed;
		bottom: 10px;
		right: 13%;
		z-index: 999;
		max-width: 100px;
	}

	/* --- button top --- */
		#buttonTop{
			display: inline-block;
			width: 40px;
			height: 40px;
			text-align: center;
			border-radius: 50%;
			position: fixed;
			bottom: 10px;
			right: 20px;
			transition: background-color .3s, opacity .5s, visibility .5s;
			opacity: 0;
			visibility: hidden;
			z-index: 1000;
			background-color: var(--new-blue)
		}
		#buttonTop:hover {
			cursor: pointer;
			background-color: var(--new-red);
		}
		#buttonTop.show {
			opacity: 1;
			visibility: visible;
		}
		#buttonTop .fa-arrow-up{
			color: var(--white);
		}

	 /*--- Barra de rolagem do navegador --- */
	::-webkit-scrollbar {
	 	width: 10px;
	  	height: 10px;
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-blue);
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:horizontal {
	  	background-color: var(--new-brown);
	  	border-radius: 20px;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1660px) {
	#item-fixo{
		right: 5%;
		max-width: 100px;
	}
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	.container{
		padding-left: 15px!important;
		padding-right: 15px!important;
	}

	#item-fixo{
		right: 6.5%;
	}
	#item-fixo img{
		max-width: 60px;
	}
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 480px) {
	#item-fixo{
		bottom: 55px;
		right: 4%;
	}
	#item-fixo img{
		max-width: 50px;
	}
}