
/* --- header --- */
	header{
		height: 90px;
		position: relative;
		background-color: white;
		z-index: 3;
	}
	header .navbar-nav li a{
		font-size: 20px;
		color: var(--new-blue);
		margin-left: 10px;
		margin-right: 10px;
	}
	header li.redes{
		padding-top: 8px;
	}
	header li.redes a{
		margin-left: 7px;
		margin-right: 7px;
	}
	header li.redes a img,
	header li.redes a img:hover{
		transition: .3s;
	}
	header li.redes a img:hover{
		margin-top: -3px;
	}
	header li.redes a.text-uppercase{
		font-size: 13px;
		width: 75px;
		height: 27px;
		padding-top: 3px;
		box-shadow: none;
		margin-top: 4px;
	}

/* -- footer --- */
	footer{
		max-width: 1239px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	footer .bg-blue{
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		padding-bottom: 45px;
	}
	footer .container .box{
		margin-left: auto;
		margin-right: auto;
		width: 298px;
		background-color: white;
		padding-top: 30px;
		padding-bottom: 25px;
	    margin-top: -4px;
	    border-bottom-left-radius: 50px;
	    border-bottom-right-radius: 50px;
	}
	footer .d-flex{
		margin-top: 20px;
		margin-bottom: 30px;
	}
	footer .d-flex p{
		font-size: 15px;
		color: #2E2E2D;
	}
	footer .d-flex p img{
		margin-left: 30px;
	}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* -- footer --- */
		footer .bg-blue{
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
}

@media screen and (max-width: 992px) {
	/* --- header navegacao --- */
		header{
			height: 111px;
		}
		header #top{
			margin-top: 15px;
		}
		header #top a{
			margin-left: 5px;
			margin-right: 5px;
		}
		header #top a.btn-blue{
			font-size: 13px;
		    width: 75px;
		    height: 27px;
		    padding-top: 3px;
		    box-shadow: none;
		    margin-top: 2px;
		}
		header .navbar{
			padding-top: 0;
		}
}

@media screen and (max-width: 480px) {
	/* --- header navegacao --- */
		header .container.px-0{
			padding-left: 0!important;
			padding-right: 0!important;
		}
		header .navbar .navbar-brand{
			padding-left: 15px;
		}
		header .navbar .navbar-toggler{
			padding-right: 15px;
		}
		header .navbar-collapse{
			text-align: center;
			padding-top: 20px;
			padding-bottom: 40px;
			margin-top: 8px;
			background-color: var(--new-red);
		}
		header .navbar-collapse li a img.icon-home{
			filter: brightness(0%) invert(1);
		}
		header .navbar-collapse li a{
			color: white;
		}
		header .navbar-collapse li a img.icon-fechar{
			position: absolute;
			bottom: -30px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}

	/* -- footer --- */
		footer .bg-blue{
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			padding-bottom: 70px;
		}
		footer .container .box{
			width: 295px;
		    margin-top: 0px;
		}
		footer .d-flex p{
			margin-bottom: 10px;
		}

}