/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner ---*/
	#banner{
		height: 698px;
		margin-bottom: 100px;
		border-bottom-left-radius: 450px;
		border-bottom-right-radius: 450px;
	}
	#banner .descricao{
		max-width: 500px; 
		width: 100%;
		margin-top: 200px;
		z-index: 1;
	}
	#banner .descricao h1{
		font-size: 48px;
		line-height: 70px;
	}
	#banner .descricao a{
		font-size: 20px;
		width: 257px;
		height: 65px;
		padding-top: 15px;
		margin-top: 20px;
	}
	#banner .descricao a:hover{
		border-color: white;
		color: white;
	}
	#banner .imagem{
		overflow: hidden;
		position: absolute;
		top: 195px;
		right: 200px;
	}
	#banner .imagem img{
		position: relative;
	}
	#banner img.arco{
		position: absolute;
		top: -470px;
		left: -430px;
	}

/* --- paixao --- */
	#paixao{
		position: relative;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	#paixao img{
		margin-left: -40px;
	}
	#paixao h2{
		font-size: 48px;
		margin-bottom: 20px;
	}
	#paixao p{
		font-size: 16px;
		height: 220px;
		overflow: auto;
		padding-right: 3px;
	}
	#paixao p::-webkit-scrollbar {
	 	width: 5px;
	  	height: 5px;
	}
	#paixao p::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	#paixao p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-blue);
	}
	#paixao a.btn-blue{
		font-size: 20px;
		width: 182px;
		height: 65px;
		padding-top: 16px;
		margin-top: 10px;
	}

/* --- vantagens --- */
	#vantagens{
		position: relative;
		padding-top: 25px;
		padding-bottom: 70px;
		overflow: hidden;
	}
	#vantagens img.bolas-01{
		position: absolute;
		top: 200px;
		left: -60px;
	}
	#vantagens img.bolas-02{
		position: absolute;
		bottom: 0px;
		right: -80px;
	}
	#vantagens .container{
		max-width: 1100px!important;
	}
	#vantagens .box{
		padding-left: 20px;
		padding-right: 20px;
	}
	#vantagens .row img{
		height: 60px;
		margin-bottom: 20px;
	}
	#vantagens .row h3{
		font-size: 28px;
		margin-bottom: 26px;
	}
	#vantagens .row p{
		font-size: 16px;
		height: 150px;
		overflow: auto;
	}
	#vantagens .row p::-webkit-scrollbar {
	 	width: 5px;
	}
	#vantagens .row p::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	#vantagens .row p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-red);
	}

/* --- seu-pet --- */
	#seu-pet{
		overflow: hidden;
		margin-top: -20px;
		padding-bottom: 25px;
	}	
	#seu-pet .bg-red{
		padding-top: 100px;
		max-width: 1238px;
		margin-left: auto;
		margin-right: auto;
		height: 555px;
		border-radius: 80px;
	}
	#seu-pet .descricao{
		padding-left: 90px;
		padding-right: 90px;
	}
	#seu-pet .descricao h2{
		font-size: 48px;
		line-height: 65px;
		margin-bottom: 30px;
	}
	#seu-pet .descricao a.btn-blue{
		font-size: 20px;
		width: 182px;
		height: 65px;
		padding: 18px;
	}
	#seu-pet .descricao a.btn-blue:hover{
		border-color: white;
		color: white!important;
	}
	#seu-pet .carousel-planos{
		width: 905px;
		margin-left: -30px;
	}

/* --- planos --- */
	#planos{
		margin-top: 30px;
		background: url(../imagens/bg/bg-planos.png)no-repeat center top;
		background-size: 78%;
		padding-bottom: 180px;
	}
	#planos h2{
		font-size: 48px;
		margin-bottom: 20px;
	}
	#planos .descricao{
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
	#planos .descricao p{
		font-size: 16px;
	}
	#planos .box-itens{
		width: 336px;
		height: 110px;
		border-radius: 20px;
		padding: 20px 20px 0px;
	}
	#planos .box-itens img{
		margin-right: 20px;
	}
	#planos .box-itens p{
		font-size: 20px;
		margin-top: 14px;
		line-height: 22px;
	}
	#planos .col-lg-4:nth-child(1) .box-itens p,
	#planos .col-lg-4:nth-child(3) .box-itens p{
		margin-top: 25px;
	}
	#planos .box-itens a{
		box-shadow: none;
		font-size: 12px;
		margin-top: 25px;
	}
	#planos .box-itens a:hover{
		background-color: white
	}

	/* --- */

	#planos .lista-planos{
		margin-top: 60px;
		margin-bottom: 100px;
	}

	#planos .box-lista{
		padding: 60px 100px 30px 30px;
		border-radius: 30px;
		background-color: white;
		min-height: 650px;
	}
	#planos .box-lista .media{
		margin-bottom: 15px;
	}
	#planos .box-lista img{
		margin-right: 20px;
	}
	#planos .box-lista h3{
		font-size: 22px;
		margin-bottom: 8px;
	}
	#planos .box-lista p{
		font-size: 16px;
		height: 75px;
		overflow: auto;
		padding-right: 5px;
	}
	#planos .box-lista p::-webkit-scrollbar {
	 	width: 5px;
	}
	#planos .box-lista p::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	#planos .box-lista p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-red);
	}

	/* --- */

	#planos .box-planos{
		padding-top: 30px;
	}
	#planos .box-planos .row{
		background-color: #E8E8E8;
		width: 540px;
		height: 100px;
		border-radius: 20px;
		padding-top: 5px;
		margin-bottom: 20px;
		position: relative;
		left: -75px;
		transition: .3s;
		cursor: pointer;
	}
	#planos .box-planos .nome{
		font-size: 	32px;
		color: var(--new-blue);
		padding-left: 50px;
	}
	#planos .box-planos .valor{
		color: var(--new-red);
		font-family: "Poppins-Bold";
	}
	#planos .box-planos .valor .cifrao,
	#planos .box-planos .valor .centavos{		
		font-size: 25px;
	}
	#planos .box-planos .valor .preco{
		font-size: 48px;
	}
	#planos .box-planos .valor .mes{
		font-size: 19px;
		font-family: "Poppins-Regular";
	}
	#planos .box-planos .quero a.btn{
		width: 202px;
		height: 66px;
		font-size: 20px;
		color: var(--new-red);
		border-radius: 50px;
		padding-top: 18px;
		border: 1px solid var(--new-yellow);
		background-color: white;
		position: relative;
		right: -5px;
	}
	#planos .box-planos .row:hover{
		background-color: var(--new-red);
		transition: .3s;
	}
	#planos .box-planos .row:hover .nome,
	#planos .box-planos .row:hover .valor{
		color: white;
	}
	#planos .box-planos .row:hover .quero a.btn{
		background-color: var(--new-yellow);
	}

/* --- loja-virtual ---- */
	#loja-virtual{
		margin-top: -115px;
		margin-bottom: 100px;
	}
	#loja-virtual .container-fluid{
		position: relative;
	}
	#loja-virtual .slide{
		background: url(../imagens/bg/bg-loja-virtual.png)no-repeat center center;
		background-size: cover;
		max-width: 1238px!important;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: 309px;
		border-radius: 67px;
		padding-top: 75px;
	}
	#loja-virtual .bg-white{
		width: 525px;
		height: 108px;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		padding-top: 10px;
		padding-left: 175px;
		padding-right: 30px;
	}
	#loja-virtual .bg-white h2{
		font-size: 32px;
	}
	#loja-virtual a.btn-red{
		width: 248px;
		height: 56px;
		font-size: 16px;
		box-shadow: none;
		padding-top: 16px;
		margin-top: 20px;
		margin-left: 150px;
	}
	#loja-virtual a.btn-red:hover{
		border-color: transparent;
		background-color: white;
	}

	#loja-virtual .btn-slick-carousel-left,
	#loja-virtual .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 90%;
		cursor: pointer;
	}
	#loja-virtual .btn-slick-carousel-left{
		left: 66%;
	}
	#loja-virtual .btn-slick-carousel-right{
		right: 31.5%;
	}

	#loja-virtual .slick-dots {
	    bottom: initial; 
	    width: initial; 
	    bottom: 14px;
	    right: 24%;
	}
	#loja-virtual .slick-dots li{
		border-radius: 50%;
		width: 18px;
		height: 18px;
		background-color: white;
	}
	#loja-virtual .slick-dots li.slick-active{
		background-color: var(--new-red);
	}
	#loja-virtual .slick-dots li button:before{
		display: none;
	}

/* --- depoimentos --- */
	#depoimentos{
		margin-bottom: 20px;
	}
	#depoimentos .slide{
		border: 1px solid var(--new-red);
		border-radius: 40px;
		width: 586px;
		padding: 45px 43px 40px 30px;
	}
	#depoimentos img{
		margin-bottom: 10px;
	}
	#depoimentos p.text-red,
	#depoimentos p.text-gray{
		font-size: 16px;
	}
	#depoimentos p.text-gray{
		height: 150px;
		overflow: auto;
		padding-right: 10px;
	}
	#depoimentos p.text-gray::-webkit-scrollbar {
	 	width: 5px;
	  	height: 5px;
	}
	#depoimentos p.text-gray::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	}
	#depoimentos p.text-gray::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-blue);
	}

	#depoimentos .btn-slick-carousel-left,
	#depoimentos .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 75%;
		cursor: pointer;
	}
	#depoimentos .btn-slick-carousel-left{
		left: 109%;
	}
	#depoimentos .btn-slick-carousel-right{
		right: -16.5%;
	}

	#depoimentos h2{
		font-size: 48px;
		line-height: 70px;
		margin-top: 35px;
		margin-left: 20px;
	}

/* --- novidades --- */
	#novidades{
		height: 356px;
		margin-top: 100px;
		margin-bottom: 100px;
	}
	#novidades img.img-novidades{
		margin-top: -125px;
		margin-left: -85px;
	}
	#novidades h2{
		font-size: 48px;
		margin-top: 100px;
		margin-bottom: 20px;
	}
	#novidades .input-group{
		width: 420px;
	}
	#novidades input{
		height: 70px;
		padding-left: 25px;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		font-size: 23px;
		color: #2E2E2D;
	}
	#novidades .input-group-text{
		height: 70px;
		border-radius: 50px;
		width: 100px;
		position: absolute;
		margin-left: -65px;
		padding-left: 25px;
		background-color: var(--new-blue);
		cursor: pointer;
		transition: .3s;
	}
	#novidades .input-group-text:hover{
		background-color: var(--new-red);
		transition: .3s;
	}

/* --- contato --- */
	#contato{
		padding-bottom: 60px;
	}
	#contato h2{
		font-size: 48px;
		margin-bottom: 20px;
	}
	#contato .formulario{
		max-width: 380px;
	}
	#contato input,
	#contato textarea{
		width: 100%;
		height: 55px;
		font-size: 14px;
		color: var(--new-gray-dark);
		padding-left: 20px;
		margin-bottom: 10px;
		border: 1px solid rgba(237, 20, 80, 0.4)!important;
		border-radius: 50px;
	}
	#contato textarea{
		padding-top: 10px;
		height: 117px;
		border-radius: 30px;
	}
	#contato a.btn-red{
		width: 175px;
		height: 44px;
		font-size: 14px;
		padding-top: 10px;
		margin-top: 12px;
		margin-bottom: 40px;
		box-shadow: 0 0.8rem 2.5rem rgb(248 0 0 / 20%)
	}

	#contato .redes{
		max-width: 550px;
		width: 100%;
	}
	#contato .d-flex .box:nth-child(2){
		margin-left: 50px;
		margin-right: 50px;
	}
	#contato .d-flex img{
		margin-bottom: 10px;
	}
	#contato .d-flex a{
		font-size: 14px;
		color: #2E2E2D;
	}
	#contato .d-flex a:hover{
		color: var(--new-red);
	}
	#contato .d-flex a img{
		margin-top: 10px;
		margin-right: 10px;
		transition: .3s;
	}
	#contato .d-flex a img:hover{
		margin-top: -3px;
		transition: .3s;
	}

@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner .imagem{
			right: 0px;
			width: 800px;
		}

		#banner .imagem img{
			/*top: 195px;*/
			left: 0px;
		}

	/* --- loja-virtual --- */
		#loja-virtual .btn-slick-carousel-left{
			left: 68%;
		}
		#loja-virtual .btn-slick-carousel-right{
			right: 29%;
		}

		#loja-virtual .slick-dots {
		    right: 20.5%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner ---*/
		#banner{
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		#banner .imagem{
			right: 0px;
			width: 730px;
		}
		#banner .imagem img{
			left: 0px;
		}

	/* --- loja-virtual --- */
		#loja-virtual .btn-slick-carousel-left{
			left: 71%;
		}
		#loja-virtual .btn-slick-carousel-right{
			right: 25.5%;
		}

		#loja-virtual .slick-dots {
		    right: 16%;
		}
}

@media screen and (max-width: 1200px) {
	/* --- banner ---*/
		#banner{
			height: 620px;
		}
		#banner img.arco{
			display: none;
		}

		#banner .descricao {
		    margin-top: 120px;
		}

		#banner .imagem{
			right: 0px;
			width: 730px;
		}
		#banner .imagem img{
			left: 200px;
			max-width: 100%;
		}

	/* --- paixao --- */
		#paixao p{
			height: 240px;
		}

	/* --- vantagens --- */
		#vantagens img.bolas-01,
		#vantagens img.bolas-02{
			display: none;
		}

	/* --- seu-pet --- */
		#seu-pet .bg-red{
			padding-top: 80px;
			padding-bottom: 100px;
			height: initial;
			border-radius: 0px;
		}
		#seu-pet .descricao h2{
			line-height: 55px;
		}

	/* --- planos --- */
		#planos .lista-planos{
			margin-top: 60px;
			margin-bottom: 100px;
		}

		#planos .box-itens{
			width: 320px;
		}
		#planos .box-lista{
			padding: 60px 90px 30px 30px;
		}
		#planos .box-lista p{
			height: 100px;
		}

		/* --- */

		#planos .box-planos{
			padding-right: 15px;
		}
		#planos .box-planos .row{
			left: -100px;
		}
		#planos .box-planos .quero a.btn{
			right: 0px;
		}

	/* --- loja-virtual ---- */
		#loja-virtual{
			margin-top: -200px;
		}
		#loja-virtual .bg-white{
			width: 400px;
			padding-top: 12px;
			padding-left: 110px;
			padding-right: 30px;
		}
		#loja-virtual a.btn-red{
			margin-left: 120px;
		}

		#loja-virtual .btn-slick-carousel-left{
			left: 79%;
		}
		#loja-virtual .btn-slick-carousel-right{
			right: 16.5%;
		}

		#loja-virtual .slick-dots {
		    right: 3.5%;
		}

	/* --- depoimentos --- */
		#depoimentos .slide{
			max-width: 565px;
			width: 100%;
		}

		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			top: 75%;
		}
		#depoimentos .btn-slick-carousel-left{
			left: 109%;
		}
		#depoimentos .btn-slick-carousel-right{
			right: -17%;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner ---*/
		#banner{
			height: 870px;
			margin-bottom: 150px;
		}
		#banner .descricao{
			max-width: 100%;
			margin-top: 80px;
		}
		#banner .descricao h1{
			font-size: 48px;
			line-height: 60px;
		}
		#banner .imagem{
			position: relative;
			top: 60px;
			left: 0;
			right: 0;
		}
		#banner .imagem img{
			position: relative;
			right: 0px;
			left: 0;
			width: 100%;
		}

	/* --- paixao --- */
		#paixao img{
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
		}
		#paixao p{
			height: auto;
		}
		#paixao a.btn-blue{
			margin-top: 10px;
		}

	/* --- seu-pet --- */
		#seu-pet .descricao{
			padding-left: 50px;
			padding-right: 50px;
			margin-bottom: 80px;
		}
		#seu-pet .carousel-planos{
			width: 800px;
			margin-left: 40px;
		}

	/* --- planos --- */
		#planos{
			background: url(../imagens/bg/bg-planos.png)no-repeat center top;
			background-size: cover;
		}
		#planos .box-itens{
			margin-left: auto;
			margin-right: auto;
		}

		/* --- */

		#planos .lista-planos{
			margin-top: 50px;
		}

		#planos .box-lista{
			padding: 60px 30px 30px 30px;
		}
		#planos .box-lista .media{
			margin-bottom: 15px;
		}
		#planos .box-lista p{
			height: 50px;
			padding-right: 10px;
		}

		/* --- */

		#planos .box-planos{
			padding-right: 30px;
		}
		#planos .box-planos .row{
			width: initial;
			left: 15px;
		}
		#planos .box-planos .quero a.btn{
			right: 0px;
		}

	/* --- loja-virtual ---- */
		#loja-virtual{
			margin-bottom: 0px;
		}
		#loja-virtual .btn-slick-carousel-left{
			left: 74%;
		}
		#loja-virtual .btn-slick-carousel-right{
			right: 19.5%;
		}

		#loja-virtual .slick-dots {
		    right: 3.5%;
		}
		#loja-virtual .slick-dots li{
			width: 16px;
			height: 16px;
		}

	/* --- depoimentos --- */
		#depoimentos .slide{
			margin-top: 20px;
			max-width: initial;
		}
		#depoimentos img{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			top: -10%;
		}
		#depoimentos .btn-slick-carousel-left{
			left: 3%;
		}
		#depoimentos .btn-slick-carousel-right{
			right: 90%;
		}

		#depoimentos h2{
			margin-bottom: 30px;
		}

	/* --- novidades --- */
		#novidades{
			height: initial;
			padding-bottom: 80px;
			text-align: center;
		}
		#novidades img.img-novidades{
			margin-left: 0px;
		}
		#novidades h2{
			margin-top: 50px;
		}
		#novidades .input-group{
			width: 450px;
			margin-left: auto;
			margin-right: auto;
		}
		#novidades .input-group-text{
			width: 100px;
			margin-left: -65px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner ---*/
		#banner{
			height: 615px;
			margin-bottom: 80px;
		}
		#banner .descricao{
			max-width: 100%;
			margin-top: 50px;
		}
		#banner .descricao h1{
			font-size: 38px;
			line-height: 50px;
		}
		#banner .descricao a{
			font-size: 15px;
			width: 205px;
			height: 52px;
		}
		#banner .imagem{
			top: 50px;
			transform: scale(1.07);
		}
		#banner .imagem img{
			position: relative;
			right: 0px;
			left: 0;
			width: 100%;
		}

	/* --- paixao --- */
		#paixao img{
			margin-top: 50px;
			width: 100%;
		}
		#paixao h2{
			font-size: 30px;
			margin-bottom: 15px;
		}

	/* --- vantagens --- */
		#vantagens .row p{
			padding-right: 10px;
		}

	/* --- seu-pet --- */
		#seu-pet .descricao{
			padding-left: 50px;
			padding-right: 50px;
			margin-bottom: 80px;
		}
		#seu-pet .descricao h2{
			font-size: 35px;
			line-height: 45px;
		}
		#seu-pet .carousel-planos{
			width: 700px;
			margin-left: 40px;
		}

	/* --- planos --- */
		#planos{
			background: url(../imagens/bg/bg-planos.png)no-repeat center top;
			background-size: cover;
			padding-bottom: 80px;
		}
		#planos h2{
			font-size: 35px;
			margin-bottom: 15px;
		}
		#planos .box-itens{
			width: 330px;
			height: 105px;
		}
		#planos .box-itens img{
			margin-right: 15px;
		}
		#planos .box-itens p{
			font-size: 20px;
		}

		/* --- */

		#planos .lista-planos{
			margin-top: 50px;
		}

		#planos .box-lista{
			padding: 60px 25px 30px 25px;
		}
		#planos .box-lista img{
			margin-right: 25px;
		}
		#planos .box-lista p{
			height: 100px;
		}

		/* --- */

		#planos .box-planos{
			padding-top: 30px;
			padding-right: 0px;
		}
		#planos .box-planos .row{
			height: 140px;
			padding-top: 30px;
			margin-bottom: 60px;
			left: 0px;
			margin-left: initial;
			margin-right: initial;
		}
		#planos .box-planos .nome{
			text-align: center;
			font-size: 30px;
		}
		#planos .box-planos .valor .cifrao,
		#planos .box-planos .valor .centavos{		
			font-size: 25px;
		}
		#planos .box-planos .valor .preco{
			font-size: 45px;
		}
		#planos .box-planos .valor .mes{
			font-size: 18px;
		}
		#planos .box-planos .quero a.btn{
			margin-top: 5px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	/* --- loja-virtual ---- */
		#loja-virtual{
			margin-top: -150px;
		}
		#loja-virtual .slide{
			background: url(../imagens/bg/bg-loja-virtual.png)no-repeat 74% center;
			background-size: cover;
			height: 600px;
			padding-top: 300px;
		}
		#loja-virtual .bg-white{
			width: 100%;
			height: initial;
			padding-bottom: 15px;
			padding-left: 40px;
			padding-right: 40px;
			border-radius: 0px;
		}
		#loja-virtual a.btn-red{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		#loja-virtual .btn-slick-carousel-left,
		#loja-virtual .btn-slick-carousel-right{
			top: 95%;
		}
		#loja-virtual .btn-slick-carousel-left{
			left: 42%;
		}
		#loja-virtual .btn-slick-carousel-right{
			right: 42%;
		}

		#loja-virtual .slick-dots {
		    display: none;
		}

	/* --- depoimentos --- */
		#depoimentos .slide{
			margin-top: 60px;
			max-width: initial;
			padding: 45px 30px 40px 30px;
		}
		#depoimentos img{
			margin-top: -100px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		#depoimentos p.text-gray{
			margin-top: 20px;
		}
		#depoimentos p.text-gray{
			height: 316px;
		}

		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			top: 16%;
		}
		#depoimentos .btn-slick-carousel-left{
			left: 0%;
		}
		#depoimentos .btn-slick-carousel-right{
			right: 87%;
		}

		#depoimentos h2{
			font-size: 35px;
			line-height: 50px;
			margin-left: 0px;
			margin-bottom: 30px;
		}

	/* --- novidades --- */
		#novidades{
			height: initial;
			margin-top: 150px;
			padding-bottom: 80px;
			margin-bottom: 50px;
		}
		#novidades img.img-novidades{
			width: 100%;
		}
		#novidades h2{
			font-size: 34px;
		}
		#novidades .input-group{
			width: 340px;
			margin-left: 0;
			margin-right: auto;
		}
		#novidades input{
			font-size: 16px;
		}
		#novidades .input-group-text{
			width: 90px;
			margin-left: -55px;
			padding-left: 20px;
		}

	/* --- contato --- */
		#contato h2{
			font-size: 44px;
			margin-bottom: 30px;
		}

		#contato .d-flex .box{
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 20px;
		}
		#contato .d-flex .box:nth-child(2){
			margin-left: 20px;
			margin-right: 20px;
		}
		#contato .d-flex .box:nth-child(3){
			margin-left: auto;
			margin-right: auto;
		}
		#contato .d-flex img{
			margin-bottom: 0px;
		}
}

@media screen and (max-width: 400px) {
	/* --- novidades --- */
		#novidades .input-group{
			width: 310px;
		}
}